<a href="https://colab.research.google.com/github/jukyung-j/BaekJoon/blob/master/%EC%88%AB%EC%9E%90%EC%B9%B4%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
n = int(input())
card = list(map(int, input().split()))
m = int(input())
target = list(map(int, input().split()))

def binary_search(array, target, start, end):
  while start <= end:
    mid = (start + end) // 2
    if array[mid] == target:
      return target
    elif array[mid] < target:
      start = mid + 1
    else:
      end = mid - 1
  return None
card.sort()
for i in range(m):
  if binary_search(card, target[i], 0, n-1) is not None:
    print('1', end=' ')
  else:
    print('0', end =' ')

5
6 3 2 10 -10
8
10 9 -5 2 3 4 5 -10
1 0 0 1 1 0 0 1